h1{
	color: lightseagreen;
	/*background-color: white;*/
	font-weight: bolder;
	font-size: 50px
}

/*pada css sebaiknya menggunakan class daripada id, sebisa mungkin gunakan elemen html*/

body{
	font-family: arial, verdana, sans-serif;
	color: coral;
	background-color: #6590d6;
	background-image: url(bg1.png);
	background-repeat: repeat-y;
	background-size: 100%;
}

/*form, h2{
	background-color: white;
*/}

.lupa:link{
	font-family: "Lucida Console", "Times New Roman", serif;
	color: gold;
}
.lupa:hover{
	font-style: bolder;
	font-size: 17px;
}
.lupa:active{
	font-color:red;
}

.lupa:visited{
	color: white;
}

button{
	color: green;
}